.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    height: 0;
    clear: both;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}

.dodge {
  color: rgba(0, 0, 0, 0.45);
}

.title-bar {
  border-left: 3px solid #1890ff;
  text-indent: 8px;
}

.anticon {
  cursor: pointer;
}

.anticon-delete {
  color: #f5222d;
}

.ant-card-wider-padding {
  .ant-card-head {
    padding: 0 24px;

    .ant-card-extra {
      padding: 8px 0;
    }
  }
  .ant-card-body {
    padding: 16px 24px;
  }
}
.ant-card-head-title {
  padding: 8px 0;
}
